body {
    margin: 0 5em;
    padding: 0;
}

/* Compteur */
#countDown {
    text-align: center;
    font-family: 'Covered By Your Grace', cursive;
    color: white;
}

#countDown div {
    display: inline-block;
    line-height: 1;
    padding: 20px;
}

#countDown span {
    display: block;
    font-size: 20px;
    color: black;
}

#days {
    font-size: 200px;
    color: #de8cd5;
}

#hours {
    font-size: 150px;
    color: #59ec8b;
}

#minutes {
    font-size: 100px;
    color: #6fd3ef;
}

#seconds {
    font-size: 50px;
    color: #6fd3ef;
}

#text {
    font-size: 75px;
    color: #abcd58;
}


/* Menu */
.menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    list-style-type: none;
}

a:hover {
    color: thistle;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #000000;
}

li {
    font-size: 15px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}