body {
    margin: 0;
    padding: 0;
    background-color: #f6f2f2;
}

/* Header */
h1 {
    background-color: #1e1c1c;
    color: #FFFFFF;
    font-family: 'Sigmar One', cursive;
    text-align: center;
    padding: 1em 0;
    margin: 0;
    font-size: 3em;
    box-shadow: 2px 7px 7px #757171;
}

a:hover {
     color: #de8cd5;
 }

a:link {
    text-decoration: none;
}

a:visited {
    color: #000000;
}

.text-intro {
    font-family: 'Anton', sans-serif;
    text-align: center;
}

span {
    color: #ea2e5a;
}

/* Article */
.article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 15px 4px 8px #686464;
}

.title {
    text-align: center;
    font-family: 'Acme', sans-serif;
    margin-top: 3em;
}

.date {
    text-align: center;
    font-family: 'Acme', sans-serif;
}

.picture {
    width: 500px;
    height: 300px;
    margin: 1em auto 1em auto;
    border-radius: 5px;
}

.content {
    text-align: justify;
    font-family: 'Bitter', serif;
    margin: 0 10em 2em 10em;
}

.form-article {
    display: flex;
    justify-content: center;
}

.form-article-create {
    display: flex;
    justify-content: center;
}

/* Compteur */
#countDown {
    text-align: center;
    font-family: 'Covered By Your Grace', cursive;
    color: white;
    border: solid 1px #92ae4e;
    border-radius: 10px 100px / 120px;
    margin: 3em 10em;
}

#countDown div {
    display: inline-block;
    line-height: 1;
    padding: 20px;
}

#countDown span {
    display: block;
    font-size: 20px;
    color: black;
}

#days {
    font-size: 200px;
    color: #de8cd5;
}

#hours {
    font-size: 150px;
    color: #e19863;
}

#minutes {
    font-size: 100px;
    color: #e6d962c2;
}

#seconds {
    font-size: 50px;
    color: #6fd3ef;
}

#text {
    font-size: 75px;
    color: #abcd58;
}

/* Commentaire */
.form-comment {
    display: flex;
    justify-content: center;
}

.comment {
    display: flex;
    justify-content: start;
    flex-direction: column;
    border: solid 1px #000000;
    margin: 2em 10em 2em 10em;
    border-radius: 5px;
}

.username {
    text-align: center;
    font-family: 'Acme', sans-serif;
    margin-top: 1em;
    color: #95ad5b;
}

.comment-date {
    font-family: 'Acme', sans-serif;
    text-align: end;
    margin-right: 1em;
}

.comment-content {
    text-align: center;
    font-family: 'Bitter', serif;
}

/* Form connexion */
.form-connection {
    display: flex;
    justify-content: center;
}

/* Form création admin */
.form-admin-create {
    display: flex;
    justify-content: center;
}

/* Footer */
footer {
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    margin: 1em;
}