<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment-header">
    <meta charset="UTF-8">
    <title>Administration</title>
</head>
<body>
<div th:include="fragment-menu"></div>
<form method="POST" th:action="@{/article/create}" th:object="${article}">
    <label for="title">Titre :</label>
    <input id="title" name="title" placeholder="Titre" required type="text"/>
    <label for="article">Article :</label>
    <textarea id="article" name="content" required rows="3"></textarea>
    <button type="button">Annuler</button>
    <button type="input">Enregistrer</button>
</form>

<form method="POST" th:action="@{/admin/create}" th:object="${admin}">
    <label for="email">Email :</label>
    <input id="email" name="title" placeholder="Titre" required type="text"/>
    <label for="name">Pseudo :</label>
    <textarea id="name" name="content" required rows="3"></textarea>
    <button type="button">Annuler</button>
    <button type="input">Créer</button>
</form>
</body>
</html>