<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment-header">
    <meta charset="UTF-8">
    <title>Articles</title>
</head>
<body>
<div th:include="fragment-menu"></div>
<div method="get" th:action="@{/article/liste}" th:each="article : ${articles}">
    <div th:text="${article.date}">Date</div>
    <div th:text="${article.title}">Titre de l'article</div>
    <div th:text="${article.picture}">Image</div>
    <div th:text="${#strings.abbreviate(article.content, 400)}">Contenu de l'article</div>
    <a th:href="@{article/{id}(id=${article.articleId})}">Lire la suite...</a>
</div>
</body>
</html>