<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment-header">
    <title>Connexion</title>
</head>
<body>
<div th:include="fragment-menu"></div>
<h2>Bienvenue sur Pandactu</h2>
<form method="post" th:action="@{connection}" th:object="${admin}">
    <div>
        <label for="email">Email</label>
        <input id="email" placeholder="exemple@email.com" th:field="*{email}" type="email"/>
    </div>
    <div>
        <label for="password">Mot de passe</label>
        <input id="password" placeholder="*******" th:field="*{password}" type="password"/>
    </div>
    <div>
        <button type="submit">Se connecter</button>
    </div>
</form>
</body>
</html>