<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment-header">
    <title>Pandactu</title>
</head>
<body>
<div th:include="fragment-menu"></div>
<!-- On affiche le timer dans un element -->
<p id="countDown">
    <script>
        // On définie la date pour faire nos calculs
        var countDownDate = new Date("Mar 20, 2020 00:00:00").getTime();

        // On met à jour le calcul toutes les secondes
        var x = setInterval(function () {

            // On cherche la date et heure actuelle
            var now = new Date().getTime();

            // On cherche la distance entre la date d'aujourd'hui et la date de calcul
            var distance = countDownDate - now;

            // On calcul les jours, heures, minutes, et secondes pour le compte à rebours
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // On affiche le résultat dans l'element "countDown"
            document.getElementById("countDown").innerHTML = days + " Jour(s) " + hours + " Heure(s) "
                + minutes + " Minute(s) " + seconds + " Seconde(s) ";

            // Si le compte à rebours est fini, on affiche du texte
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("countDown").innerHTML = "Le jeu est sortie hihi";
            }
        }, 1000);
    </script>
</p>
<div method="get" th:action="@{/articles}" th:each="article : ${articles}">
    <div th:text="${article.date}">Date</div>
    <div th:text="${article.title}">Titre de l'article</div>
    <div th:text="${article.picture}">Image</div>
    <div th:text="${#strings.abbreviate(article.content, 400)}">Contenu de l'article</div>
    <a th:href="@{article/{id}(id=${article.articleId})}">Lire la suite...</a>
</div>
</body>
</html>